
@{
    ViewData["Title"] = "Registration";
}
@model 

<div>
    <div class="col-md-8">
       
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Registration Form</h3>
            </div>
           
            <form asp-area="Admin" asp-controller="Registration" asp-action="Registration">
               
                    <div class="row">
                        <div class="col-sm-6">
                            
                            <div class="form-group">
                               
                                <label>Select Student</label><br />
                                    <select class="form-control">

                                        <option value="">--Select--</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                   <br><br>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                      
                                <label>Select Course</label><br />
                                    <select asp-for="StudentId" class="form-control">
                                        <option value="">--Select--</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                    <br><br>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Enroll Date</label>
                        <input type="date" placeholder="EnrollDate">
                    </div>
                    <div class="form-group">
                        <input type="checkbox">
                        <label>Payment is complete</label>
                    </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


